{%- for i in imports -%}
use super::{{i}};
{% endfor -%}

{%- block type_def -%}
{%- endblock %}

impl {%- block impl_generics -%}{%- endblock %} {{type_name}} {%- block impl_generics -%}{%- endblock %} {
{%- for m in methods %}
    {{ m.as_function_impl()|indent(4) }}
{% endfor %}
}

#[link(name = "{{lib_name}}")]
{#- Opaques generate warnings: #}
#[allow(improper_ctypes)]
unsafe extern "C" {
{%- for m in methods %}
    {{ m.as_function_def()|indent(4) }}
{% endfor %}
{%- block abi_methods -%}
{%- endblock -%}
}