{%- macro func_params(self_param, pa, is_abi = false) -%}
{%- if let Some(s) = self_param -%}
{{s.render(lifetime_env, *is_abi)}} {%- if pa.len() > 0 -%}, {% endif -%}
{%- endif -%}

{%- for p in pa -%} {{p.var_name}} : {{p.render(lifetime_env, *is_abi)}} {%- if !loop.last %}, {% endif -%} {%- endfor -%}
{%- endmacro -%}

{%- block function_impl -%}
pub fn {{name}}{{self.render_generic_lifetimes()}}(
        {%- if is_write -%}
        {%- call func_params(self_param, &params[..params.len() - 1]) -%}
        {%- else -%}
        {%- call func_params(self_param, params) -%}
        {%- endif -%}
    ) {%- if let Some(r) = return_type %} -> {{r.render(lifetime_env, false)}} {%- endif %} {
    {% if is_write -%}
    let mut write = crate::DiplomatWrite::new();
    let write_mut = &mut write;
    {% endif -%}
    let ret = unsafe { {{abi_name}}(
        {%- if let Some(s) = self_param -%} {{s.wrap_convert()}} {%- if params.len() > 0 -%}, {% endif -%} {%- endif -%}

        {%- for p in params -%} 
        {{p.wrap_convert()}}
        {%- if !loop.last %}, {% endif -%}
        {%- endfor -%}
        ) }; {#- ~#}
    {% if is_write %}
    let out_str = write.to_string();
{%- match return_info -%}
{%- when ReturnType::Fallible(..) %}
    ret.to_result().map(|_| {
        out_str
    })
{% when ReturnType::Nullable(..) %}
    if ret.is_ok {
        Some(out_str)
    } else {
        None
    }
{% when _ %}
    out_str
{% endmatch -%}
    {%- else -%}
{% if let Some(r) = return_type %}
    {{r.wrap_convert()}}
{% endif -%}
    {%- endif %}
}
{%- endblock -%}

{%- block function_def -%}
    fn {{abi_name}}{{self.render_abi_generic_lifetimes()}}(
        {%- call func_params(self_param, params, true) -%}
    ) 
        
        {%- if let Some(r) = return_type %} -> {{r.render(lifetime_env, true)}} {%- endif %};
{%- endblock -%}