{% extends "base.rs.jinja" %}

{%- block type_def -%}
pub struct {{type_name}};

impl Drop for {{type_name}} {
    fn drop(&mut self) {
        unsafe { {{type_name}}_destroy(self) }
    }
}
{%- endblock %}

{%- block abi_methods %}
    fn {{dtor_abi}}(this : *mut {{type_name}});
{% endblock -%}