{% extends "base.rs.jinja" %}
{%- macro draw_formatted_lifetimes(lifetimes) -%}

{%- if lifetimes.len() > 0 -%}
<{%- for lt in lifetimes -%} '{{lt}} {%- if !loop.last -%}, {% endif -%} {%- endfor -%}>

{%- endif -%}
{%- endmacro -%}

{%- block type_def -%}
pub {%- if is_out -%}(super){%- endif %} struct {{type_name -}}

{%- call draw_formatted_lifetimes(lifetimes) -%}

{%- if fields.len() > 0 %} {
    {%- for f in fields %}
    pub {{f.name}}: {{f.type_info.render(lifetime_env)}},
    {%- endfor %}
} {%- else -%};{%- endif %}

#[repr(C)]
{# Option<> and DiplomatStrSlice are two types that we don't want to expose to the user, so we create an ABI type for conversion: -#}
pub(crate) struct {{ type_name }}Abi {%- call draw_formatted_lifetimes(lifetimes) -%} {%- if fields.len() > 0 %} {
    {%- for f in fields %}
    {{f.name}} : {{f.type_info.render_with_override(lifetime_env, f.abi_info)}},
    {%- endfor %}
} {%- else -%};{%- endif %}

impl {%- call draw_formatted_lifetimes(lifetimes) %} {{type_name}}Abi {%- call draw_formatted_lifetimes(lifetimes) %} {
    pub(crate) fn from_ffi(self) -> {{type_name}}{%- call draw_formatted_lifetimes(lifetimes) -%} {
        {{type_name}} {
            {% for f in fields %}
            {{f.name}}: {{f.wrap_convert()}},
            {% endfor %}
        }
    }

    pub (crate) fn to_ffi(this : {{type_name}}{%- call draw_formatted_lifetimes(lifetimes) -%}) -> {{type_name}}Abi{%- call draw_formatted_lifetimes(lifetimes) -%} {
        {{type_name}}Abi {
            {% for f in fields %}
            {{f.name}} : {{f.wrap_c_convert()}},
            {% endfor %}
        }
    }
}

impl {%- call draw_formatted_lifetimes(lifetimes) %} From<{{type_name}}{%- call draw_formatted_lifetimes(lifetimes) -%}> for {{type_name}}Abi{%- call draw_formatted_lifetimes(lifetimes) -%} {
    fn from(value: {{type_name}}{%- call draw_formatted_lifetimes(lifetimes) -%}) -> Self {
        {{type_name}}Abi::to_ffi(value)
    }
}

impl {%- call draw_formatted_lifetimes(lifetimes) %} From<{{type_name}}Abi{%- call draw_formatted_lifetimes(lifetimes) -%}> for {{type_name}}{%- call draw_formatted_lifetimes(lifetimes) -%} {
    fn from(value: {{type_name}}Abi{%- call draw_formatted_lifetimes(lifetimes) -%}) -> Self {
        value.from_ffi()
    }
}
{%- endblock -%}

{%- block impl_generics -%}
{%- call draw_formatted_lifetimes(lifetimes) -%}
{%- endblock -%}