{% extends "base.rs.jinja" %}
{%- macro draw_formatted_lifetimes(lifetimes) -%}

{%- if lifetimes.len() > 0 -%}
<{%- for lt in lifetimes -%} '{{lt}} {%- if !loop.last -%}, {% endif -%} {%- endfor -%}>

{%- endif -%}
{%- endmacro -%}

{%- block type_def -%}
pub {%- if is_out -%}(super){%- endif %} struct {{type_name -}}

{%- call draw_formatted_lifetimes(lifetimes) -%}

{%- if fields.len() > 0 %} {
    {%- for f in fields %}
    pub {{f.name}}: {{f.type_info.render(lifetime_env)}},
    {%- endfor %}
} {%- else -%};{%- endif %}

#[repr(C)]
pub(crate) struct {{ type_name }}Abi {%- call draw_formatted_lifetimes(lifetimes) -%} {%- if fields.len() > 0 %} {
    {% for f in fields %}
    {{f.name}} : {{f.type_info.render_with_override(lifetime_env, f.abi_info)}},
    {% endfor %}
} {%- else -%};{%- endif %}

impl {%- call draw_formatted_lifetimes(lifetimes) %} {{type_name}}Abi {%- call draw_formatted_lifetimes(lifetimes) %} {
    fn from_ffi(self) -> {{type_name}}{%- call draw_formatted_lifetimes(lifetimes) -%} {
        {{type_name}} {
            {% for f in fields %}
                {{f.name}}: {{f.wrap_convert()}},
            {% endfor %}
        }
    }
}
{%- endblock -%}

{%- block impl_generics -%}
{%- call draw_formatted_lifetimes(lifetimes) -%}
{%- endblock -%}