{%- for i in imports -%}
use super::{{i}};
{% endfor -%}

{%- block type_def -%}
{%- endblock %}

impl {{type_name}} {
{%- for m in methods %}
    {{ m.as_function_impl()|indent(4) }}
{% endfor %}
}

#[link(name = "{{lib_name}}")]
unsafe extern "C" {
{%- for m in methods %}
    {{ m.as_function_def()|indent(4) }}
{% endfor %}
}